/* ----- GLOBAL STYLE ----- */

body {
    /* BACKGROUND*/
    background-color: #faf3e0;
    max-width: 100%;
    padding: 0;
    margin: 0;
    /* FONT */
    color: #4a4a4a;
    font-family: "Quicksand", "Montserrat", "Open Sans", "Bellota Text", "Poiret One", "Verdana", sans-serif;
    font-size: 16pt;
    font-weight: 300px;
    font-optical-sizing: auto;
    font-weight: 300pt;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}



/* ---------- HEADER STYLE ---------- */

header {
    height: 98vh;
    background-color: #a0c1b8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* --- Hero Div --- */

.heroDiv {
    flex-grow: 1;
    flex-direction: column;
    display:flex;
    align-items: center;
    justify-content: center;
}

.heroDiv h1 {
    font-size: 4rem;
}

.heroDiv ul {
    padding-inline-start: 0;
}

.heroDiv ul li {
    display: inline;
    padding: 1em;
    text-decoration: none;
}


/* --- Navbar --- */

.navUnorderedList {
    list-style-type: none;
    line-height: 0.1;
    overflow: hidden;
    background-color: #619587;
    text-align: center;
    padding: 0px 30px;
}

.navUnorderedList li {
    display: inline;
    text-align: center;
}

.navUnorderedList li a {
    color: honeydew;
    text-align: center;
    text-decoration:none;
    padding: 30px;
}

li a:hover {
    background-color: #f8b878;
}

.active {
    background-color: #008080;
    padding: 16px 10px;
}



/* ---------- MAIN STYLE ---------- */

main {
    margin: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}



/* ---------- FOOTER STYLE ---------- */

footer {
    background-color: #a0c1b8;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}