/* ----- GLOBAL STYLE ----- */

body {
    /* BACKGROUND*/
    background-color: #faf3e0;
    max-width: 100%;
    padding: 0;
    margin: 0;
    /* FONT */
    color: #4a4a4a;
    font-family: "Quicksand", "Montserrat", "Open Sans", "Bellota Text", "Poiret One", "Verdana", sans-serif;
    font-size: 16pt;
    font-weight: 300px;
    font-optical-sizing: auto;
    font-weight: 300pt;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}



/* ---------- HEADER STYLE ---------- */

header {
    height: 98vh;
    background-color: #a0c1b8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* --- Hero Div --- */

.heroDiv {
    flex-grow: 1;
    flex-direction: column;
    display:flex;
    align-items: center;
    justify-content: center;
}

.heroDiv h1 {
    font-size: 4rem;
}

.heroDiv ul {
    padding-inline-start: 0;
}

.heroDiv ul li {
    display: inline;
    padding: 1em;
    text-decoration: none;
}


/* --- Navbar --- */

.navUnorderedList {
    list-style-type: none;
    line-height: 0.1;
    overflow: hidden;
    background-color: #619587;
    text-align: center;
    padding: 0px 30px;
}

.navUnorderedList li {
    display: inline;
    text-align: center;
}

.navUnorderedList li a {
    color: honeydew;
    text-align: center;
    text-decoration:none;
    padding: 30px;
}

li a:hover {
    background-color: #f8b878;
}

.active {
    background-color: #008080;
    padding: 16px 10px;
}



/* ---------- MAIN STYLE ---------- */

/* main {
    margin: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
} */

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.aside1 {
    grid-column: 1 / 2;
    background-color: #a0c1b8;
    margin: 20px;
    margin-left: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.subtitle1 {
    grid-column: 2 / 6;
}

.aside2 {
    grid-column: 6;
    grid-row-start: 1;
}

.mainSection1 {
    grid-column: 2 / 6;
}

.mainSection2 {
    grid-column: 2 / 6;
}

.mainSection3 {
    grid-column: 2 / 6;
}

.mainSection4 {
    grid-column: 2 / 6;
}

/*TO DO: PUT THE SECTIONS IN THE HTML INTO CORRECT GRID COLUMNS (GIVE THEM A CLASS FIRST).
h2 class = subtitle1
section classes = mainSection1, mainSection2, mainSection3, mainSection4.
aside classes = 


/* ---------- FOOTER STYLE ---------- */

footer {
    background-color: #a0c1b8;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}