/* ----- GLOBAL STYLE ----- */

body {
    /* BACKGROUND*/
    background-color: #faf3e0;
    max-width: 100%;
    padding: 0;
    margin: 0;
    /* FONT */
    color: #4a4a4a;
    font-family: "Quicksand", "Montserrat", "Open Sans", "Bellota Text", "Poiret One", "Verdana", sans-serif;
    font-weight: 300px;
    font-optical-sizing: auto;
    font-weight: 300pt;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* ----- HEADER STYLE ----- */

header {
    background-color: #a0c1b8;
    padding-top: 50px;
}

#navUnorderedList {
    list-style-type: none;
    overflow: hidden;
    background-color: #619587;
    text-align: center;
}

#navUnorderedList li {
    display: inline;
    text-align: center;
}

#navUnorderedList li a {
    color: honeydew;
    text-align: center;
    text-decoration:none;
    padding: 10px 30px;
}

li a:hover {
    background-color: #f8b878;
}

.active {
    background-color: #008080;
}

/* ----- MAIN STYLE ----- */

main {
    margin: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ----- FOOTER STYLE ----- */

footer {
    background-color: #a0c1b8;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}